.button {
    width: 5rem;
    height: 2.5rem;
    border: none;
    margin-top: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: antiquewhite;
}

.button:hover {
    cursor: pointer;
}
