.outerContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.button {
    height: 2.25rem;
    width: 18rem;
    border-radius: 5px;
    border: 0;
    margin-bottom: .5rem;
    background-color: #d2cca1c3;
    font-size: 1rem;
    font-weight: 550;
}

.button:hover {
    cursor: pointer;
    background-color: #d2cca1;
}

.link {
    text-decoration: none;
    color: #3a445d;
}

.para {
    font-size: 1.5rem;
    font-weight: 600;
}