.div {
    width: 22rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: burlywood;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    color: black;
    font-size: 1.25rem;
    border: 1px solid brown;
}

.delete {
    font-size: 1.5rem;
}

.delete:hover {
    cursor: pointer;
}

.check{
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    clip-path: circle(44% at 50% 50%);
    margin-top: .3rem;
}

.check:hover {
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
    opacity: .5;
}

.unchecked {
    text-decoration: none;
}

.checkdiv {
    display: flex;
}