.nav{
    background-color: blue;
    display: inline-flex;
    padding-right: 2rem;
}

.ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}


.link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.626);
}

.link:hover {
    color: white;
}

.favCount {
    display: inline-block;
    width: 40px;
    height: 25px;
    border: 1px solid red;
    color: red;
    text-align: center;
    border-radius: 50%;
    /* padding-top: 5px; */
}