* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: lavender;
    justify-content: center;
    align-items: center;
}

.main-container {
    height: 80vh;
    width: 21vw;
}

.color {
    height: 20vh;
    width: 10vw;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

.color-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

input {
    height: 2.5rem;
    width: 70%;
    border: 1px solid black;
    outline: none;
    background-color: rgba(128, 128, 128, 0.4);
    padding: 0 .5rem 0 .5rem;
    font-size: 1rem;
    border-radius: 5px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

button {
    height: 2rem;
    width: 7rem;
    border-radius: 50px;
    border: 1.5px solid transparent;
    background-color: lightcoral;
}

button:hover {
    cursor: pointer;
    border: 1.5px solid black;
}

p {
    font-size: 1.5rem;
}

button:disabled {
    border: 1.5px solid transparent;
}